html {
  --color-text: #000;
  --color-background: #E5E5E5;
  --color-primary: rebeccapurple;
  --gutter: 16px;
}

.wrapper {
  background-color: var(--color-background);
  padding: 16px;
  box-sizing: border-box;
  color: var(--color-text);
  width: 90%;
  margin: 20px auto;
}

.filter-container {
  min-height: 100px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container button {
  border: none;
  margin-right: 10px;
  background-color: var(--color-background);
  cursor: pointer;
}